<nav class="navbar navbar-expand-md navbar-light upNav">
  <a class="navbar-brand" routerLink="homepage">AWAA</a>
  <button class="btn btn-danger" 
          (click)="onSignOut()"
          style="cursor:pointer"
          *ngIf="isAuth">Déconnexion
  </button>
</nav>
<div class="divider"></div>
<nav class="navbar navbar-expand-md navbar-light lowNav">
  <button class="navbar-toggler" type="button" data-toggle="collapse"
     data-target="#navbarSmallViewport" aria-controls="navbarSmallViewport"
     aria-expanded="false" aria-label="Toggle navigation"
     (click)="toggleCollapsed()">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse" id="navbarSmallViewport" [ngClass]="{'collapse': collapsed, 'navbar-collapse': true}">
      <div class="navbar-nav"> 
        <a class="nav-link" routerLink="homepage" (click)="collapseBack()">Home</a>
        <a class="nav-link" routerLink="projects" (click)="collapseBack()">Projects</a>
        <a class="nav-link" routerLink="team" (click)="collapseBack()">Team</a>
        <a class="nav-link" routerLink="publications" (click)="collapseBack()">Publications</a>
        <a class="nav-link" routerLink="contact" (click)="collapseBack()">Contact</a>
      </div> 
    </div>

</nav>
<div class="divider"></div>
