<div class="row">
  <nav class="navbar navbar-expand navbar-light projectsMenu">
      <div class="collapse navbar-collapse" id="navbarNav">
        <div class="navbar-nav">
          <a class="nav-link" routerLink="../cultural" id="cultural">Cultural</a>
          <a class="nav-link" routerLink="../educational" id="educational">Educational</a>
          <a class="nav-link" routerLink="../industrial" id="industrial">Industrial</a>
          <a class="nav-link" routerLink="../residential" id="residential">Residential</a>
          <a class="nav-link" routerLink="../commercial" id="commercial">Commercial</a>
          <a class="nav-link" routerLink="../office" id="office">Office</a>
        </div>
      </div>
  </nav>
</div>
<div class="row projectsList">
    <div class="col-4 colLeft">
      <div class="projectsThumbnail ">
        <img src="../../assets/projects/vauxhall/1537366451-01-1.jpg" class="image" width="100%">
        <div class="overlay">
            <a class="projectLink" routerLink="../view">Open</a>
        </div>
        <div class="thumbnailText">
            <h5><a>VAUXHALL, a place to read, write and dream, BE</a></h5>                
        </div>
    </div>
    <div class="projectsThumbnail ">
      <img src="../../assets/projects/eardrum/1537873910-02.jpg" class="image" width="100%">
      <div class="overlay">
          <a class="projectLink" routerLink="../view">Open</a>
      </div>
      <div class="thumbnailText">
          <h5><a>EARDRUM, deep and undulating reasonance from inner garden, HU</a></h5>
      </div>
  </div>
    </div>
    <div class="col-4 colCenter">
      <div class="projectsThumbnail ">
        <img src="../../assets/projects/halles/1537803955-persext.jpg" class="image" width="100%">
        <div class="overlay">
            <a class="projectLink" routerLink="../view">Open</a>
        </div>
        <div class="thumbnailText">
            <h5><a>HALLES, a cultural distribution, BE</a></h5>                
        </div>
    </div>
    <div class="projectsThumbnail ">
      <img src="../../assets/projects/guggenheim/1537803234-5-vue-parc.jpg" class="image" width="100%">
      <div class="overlay">
          <a class="projectLink" routerLink="../view">Open</a>
      </div>
      <div class="thumbnailText">
          <h5><a>GUGGENHEIM, seeing through contemporary architecture, BE</a></h5>                
      </div>
  </div>
    </div>
    <div class="col-4 colRight">
      <div class="projectsThumbnail ">
        <img src="../../assets/projects/floatingGardens/1548262193-11.jpg" class="image" width="100%">
        <div class="overlay">
            <a class="projectLink" routerLink="../view">Open</a>
        </div>
        <div class="thumbnailText">
            <h5><a>FLOATIN GARDENS, a green scenery at the entry of Brussels, BE</a></h5>                
        </div>
    </div>
    <div class="projectsThumbnail ">
      <img src="../../assets/projects/BW/1544111006-home.jpg" class="image" width="100%">
      <div class="overlay">
          <a class="projectLink" routerLink="../view">Open</a>
      </div>
      <div class="thumbnailText">
          <h5><a>BW, culture opens the precious box, BE</a></h5>                
      </div>
  </div>
    </div>
</div>
