<div class="row">
    <nav class="navbar navbar-expand navbar-light projectsMenu">
        <div class="collapse navbar-collapse" id="navbarNav">
          <div class="navbar-nav">
            <a class="nav-link" routerLink="../cultural" id="cultural">Cultural</a>
            <a class="nav-link" routerLink="../educational" id="educational">Educational</a>
            <a class="nav-link" routerLink="../industrial" id="industrial">Industrial</a>
            <a class="nav-link" routerLink="../residential" id="residential">Residential</a>
            <a class="nav-link" routerLink="../commercial" id="commercial">Commercial</a>
            <a class="nav-link" routerLink="../office" id="office">Office</a>
          </div>
        </div>
    </nav>
  </div>
  <div class="row project">
      <div class="col-md-4 colLeft">
        <h3>OSA, a deep dive into the preserved nature of Costa Rica, CR</h3>
        <p>Sustainability and stilts. Two words not usually found in the same 
            sentence. Yet this wooden cabin on stilts in the Costa Rica 
            countryside is inextricably linked to nature and was built entirely 
            by local craftsmen using traditional techniques and materials.</p>
            <div class="projectsThumbnail">
                <img src="../../../assets/projects/OSA/1538136219-2016-0806-osa-13.jpg" class="image" width="100%">
            </div>
            <div class="projectsThumbnail">
                <img src="../../../assets/projects/OSA/1538136229-2016-0806-osa-01.jpg" class="image" width="100%">
            </div>
            <div class="projectsThumbnail">
                <img src="../../../assets/projects/OSA/1538136229-2016-0806-osa-02.jpg" class="image" width="100%">
            </div>
            <div class="projectsThumbnail">
                <img src="../../../assets/projects/OSA/1538136229-2016-0806-osa-04.jpg" class="image" width="100%">
            </div>
            <div class="projectsThumbnail">
                <img src="../../../assets/projects/OSA/1538136229-2016-0806-osa-09.jpg" class="image" width="100%">
            </div>
      </div>
      <div class="col-md-4 colCenter">
        <div class="projectsThumbnail">
            <img src="../../../assets/projects/OSA/1538136229-2016-0806-osa-12.jpg" class="image" width="100%">
        </div>
        <div class="projectsThumbnail">
            <img src="../../../assets/projects/OSA/1538136229-2016-0806-osa-13.jpg" class="image" width="100%">
        </div>
        <div class="projectsThumbnail">
            <img src="../../../assets/projects/OSA/1538136229-2016-0806-osa-15.jpg" class="image" width="100%">
        </div>
        <div class="projectsThumbnail">
            <img src="../../../assets/projects/OSA/1538136229-coupesnippingtool.jpg" class="image" width="100%">
        </div>
        <div class="projectsThumbnail">
            <img src="../../../assets/projects/OSA/1538136229-img-0663-1.jpg" class="image" width="100%">
        </div>
      </div>
      <div class="col-md-4 colRight">
        <div class="projectsThumbnail">
            <img src="../../../assets/projects/OSA/1538136229-p1100229.jpg" class="image" width="100%">
        </div>
        <div class="projectsThumbnail">
            <img src="../../../assets/projects/OSA/1538136229-panot-lot01-1.jpg" class="image" width="100%">
        </div>
        <div class="projectsThumbnail">
            <img src="../../../assets/projects/OSA/1538136229-panot-lot02-d-1.jpg" class="image" width="100%">
        </div>
        <p>Anything that could not be sourced locally in this back country corner of Costa Rica, 
            such as toilets or solar panels, was brought in by shipping container. A shipping 
            container that has remained on site and now serves as storage for surf boards and 
            for the technology needed to support the photovoltaic panels. Overlooking the ocean, 
            this protected perch offers a comfortable shelter which is completely open to the 
            surrounding natural environment and is without the “normal” amenities. The entire 
            project is remarkable in terms of its carbon footprint. From the concept stage, and 
            throughout the building works, AWAA made only two visits to the site - once at the 
            design stage and once at provisional handover. One of the clients splits his time 
            between San José, Tamarindo and Osa, where he works as a pilot for a coastal 
            conservation and marine monitoring project. His timetable meant he was able to 
            follow the construction works and report progress to AWAA via the internet, 
            enabling us to supervise work remotely. We must remember that this ‘surf shack’ 
            is completely self-sufficient. It’s not connected to the grid: electricity is 
            produced by solar panels and water is pumped from a spring. Its mini sewage treatment 
            plant and its floating construction, devoid of invasive foundations, have enabled us 
            to build a dwelling that is a tropical grail of exotic, comfortable and exquisitely 
            integrated into its environment. Pura vida.</p>
      </div>
  </div>
  