<div class="row">
  <nav class="navbar navbar-expand navbar-light projectsMenu">
      <div class="collapse navbar-collapse" id="navbarNav">
        <div class="navbar-nav">
          <a class="nav-link" routerLink="../cultural" id="cultural">Cultural</a>
          <a class="nav-link" routerLink="../educational" id="educational">Educational</a>
          <a class="nav-link" routerLink="../industrial" id="industrial">Industrial</a>
          <a class="nav-link" routerLink="../residential" id="residential">Residential</a>
          <a class="nav-link" routerLink="../commercial" id="commercial">Commercial</a>
          <a class="nav-link" routerLink="../office" id="office">Office</a>
        </div>
      </div>
  </nav>
</div>
<div class="row projectsList">
    <div class="col-4 colLeft">
      <div class="projectsThumbnail ">
        <img src="../../assets/projects/floatingGardens/1548262193-11.jpg" class="image" width="100%">
        <div class="overlay">
            <a class="projectLink" routerLink="../view">Open</a>
        </div>
        <div class="thumbnailText">
            <h5><a>FLOATIN GARDENS, a green scenery at the entry of Brussels, BE</a></h5>                
        </div>
    </div>
    <div class="projectsThumbnail ">
      <img src="../../assets/projects/andres/1543929043-15-02.jpg" class="image" width="100%">
      <div class="overlay">
          <a class="projectLink" routerLink="../view">Open</a>
      </div>
      <div class="thumbnailText">
          <h5><a>ANDRES, time to sew the linning, BE</a></h5>                
      </div>
    </div>
    <div class="projectsThumbnail ">
      <img src="../../assets/projects/system/1543929477-untitled-13.jpg" class="image" width="100%">
      <div class="overlay">
          <a class="projectLink" routerLink="../view">Open</a>
      </div>
      <div class="thumbnailText">
          <h5><a>SYSTEM, six in a row, BE</a></h5>                
      </div>
    </div>
    </div>
    <div class="col-4 colCenter">
      <div class="projectsThumbnail ">
        <img src="../../assets/projects/decathlon/1537873404-03-1.jpg" class="image" width="100%">
        <div class="overlay">
            <a class="projectLink" routerLink="../view">Open</a>
        </div>
        <div class="thumbnailText">
            <h5><a>DECATHLON, commercial complex in greater Brussels, BE</a></h5>                
        </div>
    </div>
    <div class="projectsThumbnail ">
      <img src="../../assets/projects/winery/1538134026-06-04-1.jpg" class="image" width="100%">
      <div class="overlay">
          <a class="projectLink" routerLink="../view">Open</a>
      </div>
      <div class="thumbnailText">
          <h5><a>Winery, tasting whine in extasy, BE</a></h5>                
      </div>
  </div>
    </div>
    <div class="col-4 colRight">
          <div class="projectsThumbnail ">
            <img src="../../assets/projects/cameleon/1538581407-001-cameleon-1.jpg" class="image" width="100%">
            <div class="overlay">
                <a class="projectLink" routerLink="../view">Open</a>
            </div>
            <div class="thumbnailText">
                <h5><a>CAMELEON, make it breath, BE</a></h5>                
            </div>
        </div>
        <div class="projectsThumbnail ">
          <img src="../../assets/projects/napa/1544110711-15-07.jpg" class="image" width="100%">
          <div class="overlay">
              <a class="projectLink" routerLink="../view">Open</a>
          </div>
          <div class="thumbnailText">
              <h5><a>NAPA, box in the box as they say, BE</a></h5>                
          </div>
      </div>
      <div class="projectsThumbnail ">
        <img src="../../assets/projects/teb/1537875597-img-9222-1.jpg" class="image" width="100%">
        <div class="overlay">
            <a class="projectLink" routerLink="../view">Open</a>
        </div>
        <div class="thumbnailText">
            <h5><a>TEB, when the ark tuns aground,BE</a></h5>                
        </div>
    </div>
    </div>
</div>
