<div class="row">
    <nav class="navbar navbar-expand navbar-light projectsMenu">
        <div class="collapse navbar-collapse" id="navbarNav">
          <div class="navbar-nav">
            <a class="nav-link" routerLink="./cultural" id="cultural">Cultural</a>
            <a class="nav-link" routerLink="./educational" id="educational">Educational</a>
            <a class="nav-link" routerLink="./industrial" id="industrial">Industrial</a>
            <a class="nav-link" routerLink="./residential" id="residential">Residential</a>
            <a class="nav-link" routerLink="./commercial" id="commercial">Commercial</a>
            <a class="nav-link" routerLink="./office" id="office">Office</a>
          </div>
        </div>
    </nav>
</div>
<div class="row projectsList">
    <div class="col-4 colLeft">
        <div class="projectsThumbnail">
            <img src="../../assets/projects/HOUSE/1561475639-3.jpg" class="image" width="100%">
            <div class="overlay">
                <a class="projectLink" routerLink="./view">Open</a>
            </div>
            <div class="thumbnailText">
                <h5><a>HOUSE, a spaceship has landed in the middle of nature, BE</a></h5>
            </div>
        </div>
        <div class="projectsThumbnail">
            <img src="../../assets/projects/RENTAL/1537527885-01.jpg" class="image" width="100%">
            <div class="overlay">
                <a class="projectLink" routerLink="./view">Open</a>
            </div>
            <div class="thumbnailText">
                <h5><a>RENTAL 1-2-3, variations on rental houses in Brussels, BE</a></h5>
            </div>
        </div>
        <div class="projectsThumbnail ">
            <img src="../../assets/projects/oldBrew/1537528660-01-02-1.jpg" class="image" width="100%">
            <div class="overlay">
                <a class="projectLink" routerLink="./view">Open</a>
            </div>
            <div class="thumbnailText">
                <h5><a>OLD BREW, a palimpsestic approach from brewing, BE</a></h5>                
            </div>
        </div>
        <div class="projectsThumbnail ">
            <img src="../../assets/projects/guggenheim/1537803234-5-vue-parc.jpg" class="image" width="100%">
            <div class="overlay">
                <a class="projectLink" routerLink="./view">Open</a>
            </div>
            <div class="thumbnailText">
                <h5><a>GUGGENHEIM, seeing through contemporary architecture, BE</a></h5>                
            </div>
        </div>
        <div class="projectsThumbnail ">
            <img src="../../assets/projects/floatingGardens/1548262193-11.jpg" class="image" width="100%">
            <div class="overlay">
                <a class="projectLink" routerLink="./view">Open</a>
            </div>
            <div class="thumbnailText">
                <h5><a>FLOATIN GARDENS, a green scenery at the entry of Brussels, BE</a></h5>                
            </div>
        </div>
        <div class="projectsThumbnail ">
            <img src="../../assets/projects/BW/1544111006-home.jpg" class="image" width="100%">
            <div class="overlay">
                <a class="projectLink" routerLink="./view">Open</a>
            </div>
            <div class="thumbnailText">
                <h5><a>BW, culture opens the precious box, BE</a></h5>                
            </div>
        </div>
        <div class="projectsThumbnail ">
            <img src="../../assets/projects/vdwk/1544111518-img-4886-1.jpg" class="image" width="100%">
            <div class="overlay">
                <a class="projectLink" routerLink="./view">Open</a>
            </div>
            <div class="thumbnailText">
                <h5><a>VDWK, my home up north from far east to extreme west, BE</a></h5>                
            </div>
        </div>
        <div class="projectsThumbnail ">
            <img src="../../assets/projects/cameleon/1538581407-001-cameleon-1.jpg" class="image" width="100%">
            <div class="overlay">
                <a class="projectLink" routerLink="./view">Open</a>
            </div>
            <div class="thumbnailText">
                <h5><a>CAMELEON, make it breath, BE</a></h5>                
            </div>
        </div>
        <div class="projectsThumbnail ">
            <img src="../../assets/projects/eardrum/1537873910-02.jpg" class="image" width="100%">
            <div class="overlay">
                <a class="projectLink" routerLink="./view">Open</a>
            </div>
            <div class="thumbnailText">
                <h5><a>EARDRUM, deep and undulating reasonance from inner garden, HU</a></h5>
            </div>
        </div>
        <div class="projectsThumbnail ">
            <img src="../../assets/projects/afe/1538130669-12-1.jpg" class="image" width="100%">
            <div class="overlay">
                <a class="projectLink" routerLink="./view">Open</a>
            </div>
            <div class="thumbnailText">
                <h5><a>AFE, open it please, BE</a></h5>                
            </div>
        </div>
        <div class="projectsThumbnail ">
            <img src="../../assets/projects/kap/1538052927-131106-psp-gardenview-hl-1-open-1.jpg" class="image" width="100%">
                        <div class="overlay">
                <a class="projectLink" routerLink="./view">Open</a>
            </div>
            <div class="thumbnailText">
                <h5><a>KaP, a golden pavillon in dreaming Flanders, BE</a></h5>                
            </div>
        </div>
        <div class="projectsThumbnail ">
            <img src="../../assets/projects/teb/1537875597-img-9222-1.jpg" class="image" width="100%">
            <div class="overlay">
                <a class="projectLink" routerLink="./view">Open</a>
            </div>
            <div class="thumbnailText">
                <h5><a>TEB, when the ark tuns aground,BE</a></h5>                
            </div>
        </div>
        <div class="projectsThumbnail ">
            <img src="../../assets/projects/system/1543929477-untitled-13.jpg" class="image" width="100%">
            <div class="overlay">
                <a class="projectLink" routerLink="./view">Open</a>
            </div>
            <div class="thumbnailText">
                <h5><a>SYSTEM, six in a row, BE</a></h5>                
            </div>
        </div>
        <div class="projectsThumbnail ">
            <img src="../../assets/projects/rbk/1551180617-img-2868.jpg" class="image" width="100%">
            <div class="overlay">
                <a class="projectLink" routerLink="./view">Open</a>
            </div>
            <div class="thumbnailText">
                <h5><a>RBK, at full speed, BE</a></h5>                
            </div>
        </div>
    </div>
    <div class="col-4 colCenter">
        <div class="projectsThumbnail">
            <img src="../../assets/projects/duvelBrewery/1537882283-07-17-1.jpg" class="image" width="100%">
            <div class="overlay">
                <a class="projectLink" routerLink="./view">Open</a>
            </div>
            <div class="thumbnailText">
                <h5><a>DUVEL BREW, a dreaming stroll amongst the brewing, BE</a></h5>                
            </div>
        </div>
        <div class="projectsThumbnail ">
            <img src="../../assets/projects/duvelHeadQuarter/1538054095-12-04-05-1.jpg" class="image" width="100%">
            <div class="overlay">
                <a class="projectLink" routerLink="./view">Open</a>
            </div>
            <div class="thumbnailText">
                <h5><a>DUVEL HEADQUARTERS, work together in harmony, BE</a></h5>                
            </div>
        </div>
        <div class="projectsThumbnail ">
            <img src="../../assets/projects/TILLEUL/1537533977-img-3954-bbcopy-1.jpg" class="image" width="100%">
            <div class="overlay">
                <a class="projectLink" routerLink="./view">Open</a>
            </div>
            <div class="thumbnailText">
                <h5><a>TILLEULS, a fresh contemporary twist, BE</a></h5>                
            </div>
        </div>
        <div class="projectsThumbnail ">
            <img src="../../assets/projects/chai/1557134136-bri-6773.jpg" class="image" width="100%">
            <div class="overlay">
                <a class="projectLink" routerLink="./view">Open</a>
            </div>
            <div class="thumbnailText">
                <h5><a>CHAI, a winery in the belgian fileds, BE</a></h5>                
            </div>
        </div>
        <div class="projectsThumbnail ">
            <img src="../../assets/projects/pinede/1537871171-02-1.jpg" class="image" width="100%">
            <div class="overlay">
                <a class="projectLink" routerLink="./view">Open</a>
            </div>
            <div class="thumbnailText">
                <h5><a>PINEDE, a tickling rationality for rent, BE</a></h5>                
            </div>
        </div>
        <div class="projectsThumbnail ">
            <img src="../../assets/projects/ElChante/1537802571-el-chante006-1.jpg" class="image" width="100%">
            <div class="overlay">
                <a class="projectLink" routerLink="./view">Open</a>
            </div>
            <div class="thumbnailText">
                <h5><a>EL CHANTE, a luxury eco-lodge in 14 open-air stuctures, CR</a></h5>                
            </div>
        </div>
        <div class="projectsThumbnail ">
            <img src="../../assets/projects/sim/1538574355-dscf5838-1.jpg" class="image" width="100%">
            <div class="overlay">
                <a class="projectLink" routerLink="./view">Open</a>
            </div>
            <div class="thumbnailText">
                <h5><a>SIM, to include the garden, BE</a></h5>                
            </div>
        </div>
        <div class="projectsThumbnail ">
            <img src="../../assets/projects/napa/1544110711-15-07.jpg" class="image" width="100%">
            <div class="overlay">
                <a class="projectLink" routerLink="./view">Open</a>
            </div>
            <div class="thumbnailText">
                <h5><a>NAPA, box in the box as they say, BE</a></h5>                
            </div>
        </div>
        <div class="projectsThumbnail ">
            <img src="../../assets/projects/winery/1538134026-06-04-1.jpg" class="image" width="100%">
            <div class="overlay">
                <a class="projectLink" routerLink="./view">Open</a>
            </div>
            <div class="thumbnailText">
                <h5><a>Winery, tasting whine in extasy, BE</a></h5>                
            </div>
        </div>
        <div class="projectsThumbnail ">
            <img src="../../assets/projects/andres/1543929043-15-02.jpg" class="image" width="100%">
            <div class="overlay">
                <a class="projectLink" routerLink="./view">Open</a>
            </div>
            <div class="thumbnailText">
                <h5><a>ANDRES, time to sew the linning, BE</a></h5>                
            </div>
        </div>
        <div class="projectsThumbnail ">
            <img src="../../assets/projects/loftH/1537882938-01.jpg" class="image" width="100%">
            <div class="overlay">
                <a class="projectLink" routerLink="./view">Open</a>
            </div>
            <div class="thumbnailText">
                <h5><a>LOFT H, bare necessities, BE</a></h5>                
            </div>
        </div>
        <div class="projectsThumbnail ">
            <img src="../../assets/projects/libraryFurniture/1551174211-marchetti.jpg" class="image" width="100%">
            <div class="overlay">
                <a class="projectLink" routerLink="./view">Open</a>
            </div>
            <div class="thumbnailText">
                <h5><a>LIBRARY FURNITURE, a stairy sculptural case, BE</a></h5>                
            </div>
        </div>
    </div>
    <div class="col-4 colRight">
        <div class="projectsThumbnail">
            <img src="../../assets/projects/OSA/1538136219-2016-0806-osa-13.jpg" class="image" width="100%">
            <div class="overlay">
                <a class="projectLink" routerLink="./view">Open</a>
            </div>
            <div class="thumbnailText">
                <h5><a>OSA, a deep dive into the nature of Costa Rica, CR</a></h5>                
            </div>
        </div>
        <div class="projectsThumbnail ">
            <img src="../../assets/projects/CARE/1537366961-01-1.jpg" class="image" width="100%">
            <div class="overlay">
                <a class="projectLink" routerLink="./view">Open</a>
            </div>
            <div class="thumbnailText">
                <h5><a>CARE, a social center in the deep nature, BE</a></h5>                
            </div>
        </div>
        <div class="projectsThumbnail ">
            <img src="../../assets/projects/purodieces/1543939861-18-05.jpg" class="image" width="100%">
            <div class="overlay">
                <a class="projectLink" routerLink="./view">Open</a>
            </div>
            <div class="thumbnailText">
                <h5><a>PUROPIECES, that roof hanging on a cliff linkin the garden to the ocean, CR</a></h5>                
            </div>
        </div>
        <div class="projectsThumbnail ">
            <img src="../../assets/projects/vauxhall/1537366451-01-1.jpg" class="image" width="100%">
            <div class="overlay">
                <a class="projectLink" routerLink="./view">Open</a>
            </div>
            <div class="thumbnailText">
                <h5><a>VAUXHALL, a place to read, write and dream, BE</a></h5>                
            </div>
        </div>
        <div class="projectsThumbnail ">
            <img src="../../assets/projects/duvelLab/1560759402-14-1.jpg" class="image" width="100%">
            <div class="overlay">
                <a class="projectLink" routerLink="./view">Open</a>
            </div>
            <div class="thumbnailText">
                <h5><a>DUVEL LAB, revisiting the process of creating beer through history, BE</a></h5>                
            </div>
        </div>
        <div class="projectsThumbnail ">
            <img src="../../assets/projects/decathlon/1537873404-03-1.jpg" class="image" width="100%">
            <div class="overlay">
                <a class="projectLink" routerLink="./view">Open</a>
            </div>
            <div class="thumbnailText">
                <h5><a>DECATHLON, commercial complex in greater Brussels, BE</a></h5>                
            </div>
        </div>
        <div class="projectsThumbnail ">
            <img src="../../assets/projects/halles/1537803955-persext.jpg" class="image" width="100%">
            <div class="overlay">
                <a class="projectLink" routerLink="./view">Open</a>
            </div>
            <div class="thumbnailText">
                <h5><a>HALLES, a cultural distribution, BE</a></h5>                
            </div>
        </div>
        <div class="projectsThumbnail ">
            <img src="../../assets/projects/paup/1537874584-image-14-1.jpg" class="image" width="100%">
            <div class="overlay">
                <a class="projectLink" routerLink="./view">Open</a>
            </div>
            <div class="thumbnailText">
                <h5><a>PAUP, an extension to reinforce unity, BE</a></h5>                
            </div>
        </div>
        <div class="projectsThumbnail ">
            <img src="../../assets/projects/moos/1538137359-ext-latem-recadree-02-1.jpg" class="image" width="100%">
            <div class="overlay">
                <a class="projectLink" routerLink="./view">Open</a>
            </div>
            <div class="thumbnailText">
                <h5><a>MOOS, small but multitask, BE</a></h5>                
            </div>
        </div>
        <div class="projectsThumbnail ">
            <img src="../../assets/projects/mek/1538136769-2-maisonapres-1.jpg" class="image" width="100%">
            <div class="overlay">
                <a class="projectLink" routerLink="./view">Open</a>
            </div>
            <div class="thumbnailText">
                <h5><a>MeK, to purify the space of family spirit, BE</a></h5>                
            </div>
        </div>
        <div class="projectsThumbnail ">
            <img src="../../assets/projects/atlantique/1538138464-dsc-2655-1.jpg" class="image" width="100%">
            <div class="overlay">
                <a class="projectLink" routerLink="./view">Open</a>
            </div>
            <div class="thumbnailText">
                <h5><a>ATLANTIQUE, a selected vision through the ocean, FR</a></h5>                
            </div>
        </div>
        <div class="projectsThumbnail ">
            <img src="../../assets/projects/ophtalmology/1551178191-img-0007.jpg" class="image" width="100%">
            <div class="overlay">
                <a class="projectLink" routerLink="./view">Open</a>
            </div>
            <div class="thumbnailText">
                <h5><a>OPHTALMOLOGY, an eye on developing, BE</a></h5>                
            </div>
        </div>
    </div>
</div>
