<div class="row topRow">
    <div class="teamCard">
        <div class="vignette charly"></div>
        <div class="teamText left">
            <h5>Charly Wittock</h5>
            <p>
                Charly Wittock has a Master of Environmental Design from Yale University and a Bachelor of Architecture 
                from the California College of Arts and Crafts, graduating first in his class and where he was awarded 
                a Graduate of Distinction Award. Mr. Wittock is the recipient of the 1998 Young Architect Award in 
                Belgium. Mr. Wittock founded cwarchitects, an International Firm based in both Brussels and New York, 
                in 1993. From February 1995 to September 1996, he was a founding partner of IGLOO Architects. Previous 
                to that he worked with Mark Horton Architecture, as a project manager, and with William Stout & Associates 
                where he was part of the design team that developed the conceptual scheme and presentation for the 
                exhibition “In the Spirit of Modernism” at the San Francisco Museum of Modern Art. "Way Stations", 
                a collaborative project with the artist Ming Wei Lee was on exhibit at the Whitney Museum in New York 
                and “Our Labyrinth” at the Centre Pompidou in Paris. At Yale his research centered on creating a database 
                and exploring the possibilities of computer network technologies in the architectural profession 
                He has lectured at Columbia University, taught at California College of Arts and is a guest critic at La Cambre 
                in Brussels.
            </p>
        </div>
    </div>
    
    <div class="teamCard right">
        <div class="teamText right">
            <h5>Christophe Bourdeaux</h5>
            <p>
                Christophe Bourdeaux has a Bachelor of Art from the Académie Royale des Beaux-Arts, graduating first in 
                his class. Mr. Bourdeaux is the recipient of the 1993 Prix d’Excellence from the city of Brussels. Mr. 
                Bourdeaux is the author of large murals for the Passage 44 in Brussels, for the School #3 in Forest, 
                and for the University UCL. His paintings have been exhibited in solo and group exhibitions in Belgium. 
                His work has been published in "ELLE Décor"; “Gael Maison”; “Knack”; “La Libre Belgique”, and "Modern". 
                He is a tenure teacher at the Académie Royale des Beaux-Arts in Brussels.
            </p>
        </div>
        <div class="vignette christophe"></div>
    </div>
</div>

<div class="row">
    <div class="col-3 teamCard min">
        <img src="../../assets/team/1538052344-didier.jpg" height="150px" width="150px">
        <div class="teamText">
            <h5>Didier<br>Bourtembourg</h5>
        </div>
    </div>
    <div class="col-3 teamCard min">
        <img src="../../assets/team/1538052353-tim.jpg" height="150px" width="150px">
        <div class="teamText">
            <h5>Tim<br>Doudelet</h5>            
        </div>
    </div>
    <div class="col-3 teamCard min">
        <img src="../../assets/team/Nicolas.jpg" height="150px" width="150px">
        <div class="teamText">
            <h5>Nicolas<br>Laurent</h5>            
        </div>
    </div>
    <div class="col-3 teamCard min">
        <img src="../../assets/team/1547655101-eric.jpg" height="150px" width="150px">
        <div class="teamText">
            <h5>Eric<br>Peeters</h5>            
        </div>
    </div>
    <div class="col-3 teamCard min">
        <img src="../../assets/team/shizukajpg.jpg" height="150px" width="150px">
        <div class="teamText">
            <h5>Shizuka<br>Watanabe</h5>            
        </div>
    </div>
    <div class="col-6 teamCard">
        <div id="hamburger">
            <div class="topleft"></div>
            <div class="topright"></div>
            <div class="bottomright"></div>
            <div class="bottomleft"></div>
        </div>
        <div id="teamList">
            <p>Ophélie Hénault / Isabelle Matton / Nicolas Michielsen / Anne Simoens / Arthur d'Aoust / Anna Loreau / Farnaz Moghisi / François Verrier / Romain Balza / Hervé Lucas / Laine Mc Laughlin / Gorka Perea / Michel Parubaj / Oussama el Youssoufi / Johan Louwette / Magali Dufour / Pierre Leclercq / Marie-Laure Humblet / Lucinda Marques / Géraldine De Brauwer / Marie Rouvier / Francesca Crosby / Chiara Pelagatti / Félix de Liedekerke / Boudour Saadaoui / Nicolas Schuybroek / Vincent Pigault de Beaupré / Michèle Verhelst / Claire Bonaventure / Jean Coeckelbergh / Sémir Zouaoui / Diego Carrion / Wissam Salim / Fernanda Guzman / Donatienne du Parc / Frederico Alegria / Laurent Biot</p>
        </div>
    </div>
</div>


