<div class="row">
    <div class="pubCard col-md-3 ">
        <div class="textFrame dropdown">
            <div class="moreMenu">
                <div class="moreContent"></div>
                <div class="moreContent"></div>
                <div class="moreContent"></div>
            </div>
            <h3>Desiredspaces</h3>
            <h4>18/06/2020</h4>
                <div class="dropdownContent">
                    <p><a href="https://www.desiredspaces.be/contributions-projekten-projects/duvel-social-spaces" target="_bank">Lire l'article sur desiredspaces.be</a></p>
                </div>
        </div>
        <div class="carouselFrame">
            <app-carousel [slides]="desiredPlaces"></app-carousel>    
        </div>
    </div>
    <div class="pubCard col-md-3 ">
        <div class="textFrame dropdown">
            <div class="moreMenu">
                <div class="moreContent"></div>
                <div class="moreContent"></div>
                <div class="moreContent"></div>
            </div>
            <h3>Espace Vie</h3>    
            <h4> juin 2020 </h4>        
            <div class="dropdownContent">
                <p><a href="https://www.espacevie.be/ressource/un-grand-cru/" target="_bank">Lire l'article sur espacevie.be</a></p>
            </div>
        </div>
        <div class="carouselFrame">
            <app-carousel [slides]="espaceVie"></app-carousel>    
        </div>
    </div>
    <div class="pubCard col-md-3 ">
        <div class="textFrame dropdown">
            <h3>Trends Tendances</h3>
            <h4>2 avril 2020</h4>
        </div>
        <div class="carouselFrame">
            <app-carousel [slides]="trends04"></app-carousel>    
        </div>
    </div>
    <div class="pubCard col-md-3 ">
        <div class="textFrame dropdown">
            <h3>Architrave-Architraaf </h3>
            <h4>Février 2020</h4>
        </div>
        <div class="carouselFrame">
            <app-carousel [slides]="architrave"></app-carousel>    
        </div>
    </div>
    <div class="pubCard col-md-3 ">
        <div class="textFrame dropdown">
            <h3>FormaWood Carnet d'Architecture </h3>
            <h4>Tome 2 - 2020</h4>
        </div>
        <div class="carouselFrame">
            <app-carousel [slides]="formawood"></app-carousel>    
        </div>
    </div>
    <div class="pubCard col-md-3 ">
        <div class="textFrame dropdown">
            <h3>Belgium New Architecture 7</h3>
            <h4>Editions Prisme 2019</h4>
        </div>
        <div class="carouselFrame">
            <app-carousel [slides]="belgiumNew"></app-carousel>    
        </div>
    </div>
    <div class="pubCard col-md-3 ">
        <div class="textFrame dropdown">
            <div class="moreMenu">
                <div class="moreContent"></div>
                <div class="moreContent"></div>
                <div class="moreContent"></div>
            </div>
            <h3>Bouwkroniek </h3>
            <h4>november 2019</h4>
            <div class="dropdownContent">
                <p>"Matthias Vanheerentals, journalist"</p>
            </div>
        </div>
        <div class="carouselFrame">
            <app-carousel [slides]="bouwkroniek"></app-carousel>    
        </div>
    </div>
    <div class="pubCard col-md-3 ">
        <div class="textFrame dropdown">
            <div class="moreMenu">
                <div class="moreContent"></div>
                <div class="moreContent"></div>
                <div class="moreContent"></div>
            </div>
            <h3>Architectenkrant.be </h3>
            <h4>October 2019</h4>
            <div class="dropdownContent">
                <p><a href="https://www.architectenkrant.be/4520-chateau-de-bousval.html" target="_bank">Lire l'article sur architectenkrant.be</a></p>
            </div>
        </div>
        <div class="carouselFrame">
            <app-carousel [slides]="architectenkrant"></app-carousel>    
        </div>
    </div>
    <div class="pubCard col-md-3 ">
        <div class="textFrame dropdown">
            <div class="moreMenu">
                <div class="moreContent"></div>
                <div class="moreContent"></div>
                <div class="moreContent"></div>
            </div>
            <h3>Hout info bois </h3>
            <h4>September 2019</h4>
            <div class="dropdownContent">
                <p><a href="https://houtinfobois.be/realisations/chai-en-bois/" target="_bank">Lire l'article sur houtinfobois.be</a></p>
            </div>
        </div>
        <div class="carouselFrame">
            <app-carousel [slides]="houtinfobois"></app-carousel>    
        </div>
    </div>
    <div class="pubCard col-md-3 ">
        <div class="textFrame dropdown">
            <div class="moreMenu">
                <div class="moreContent"></div>
                <div class="moreContent"></div>
                <div class="moreContent"></div>
            </div>
            <h3>Essentielle Vino </h3>
            <h4>22 mai 2019</h4>
            <div class="dropdownContent">
                <p><a href="http://essentiellevino.be/2019/05/22/le-chateau-de-bousval-inaugure-son-chai/" target="_bank">Lire l'article sur essentiellevino.be</a></p>
            </div>
        </div>
        <div class="carouselFrame">
            <app-carousel [slides]="essentielleVino"></app-carousel>    
        </div>
    </div>
    <div class="pubCard col-md-3 ">
        <div class="textFrame dropdown">
            <div class="moreMenu">
                <div class="moreContent"></div>
                <div class="moreContent"></div>
                <div class="moreContent"></div>
            </div>
            <h3>Quid </h3>
            <h4>25 au 31 mai 2019</h4>
            <div class="dropdownContent">
                <p>Vin et Art font bon ménage</p>
            </div>
        </div>
        <div class="carouselFrame">
            <app-carousel [slides]="quid2531"></app-carousel>    
        </div>
    </div>
    <div class="pubCard col-md-3 ">
        <div class="textFrame dropdown">
            <div class="moreMenu">
                <div class="moreContent"></div>
                <div class="moreContent"></div>
                <div class="moreContent"></div>
            </div>
            <h3>L'Avenir Brabant Wallon </h3>
            <h4>24 mai 2019</h4>
            <div class="dropdownContent">
                <p>Le Chai le plus contemporain de Belgique</p>
            </div>
        </div>
        <div class="carouselFrame">
            <app-carousel [slides]="avenir25"></app-carousel>    
        </div>
    </div>
    <div class="pubCard col-md-3 ">
        <div class="textFrame dropdown">
            <h3>Het Houtblad</h3>
            <h4> mei 2019</h4>
            <div class="dropdownContent">
            </div>
        </div>
        <div class="carouselFrame">
            <app-carousel [slides]="hetOutblad"></app-carousel>    
        </div>
    </div>
    <div class="pubCard col-md-3 ">
        <div class="textFrame dropdown">
            <div class="moreMenu">
                <div class="moreContent"></div>
                <div class="moreContent"></div>
                <div class="moreContent"></div>
            </div>
            <h3>L'Echo </h3>
            <h4>16 February 2019</h4>
            <div class="dropdownContent">
                <p>"Le Chai qui enlace la colline"</p>
            </div>
        </div>
        <div class="carouselFrame">
            <app-carousel [slides]="echo16"></app-carousel>    
        </div>
    </div>
    <div class="pubCard col-md-3 ">
        <div class="textFrame dropdown">
            <div class="moreMenu">
                <div class="moreContent"></div>
                <div class="moreContent"></div>
                <div class="moreContent"></div>
            </div>
            <h3>The Word</h3>
            <h4> Septembre 2018</h4>
            <div class="dropdownContent">
                <p><a href="http://thewordmagazine.com/the-hundreds/charly-wittock/" target="_bank">Bike for Brussels.</a></p>
            </div>
        </div>
        <div class="carouselFrame">
            <app-carousel [slides]="theWord"></app-carousel>    
        </div>
    </div>
    <div class="pubCard col-md-3 ">
        <div class="textFrame dropdown">
            <div class="moreMenu">
                <div class="moreContent"></div>
                <div class="moreContent"></div>
                <div class="moreContent"></div>
            </div>
            <h3>Floating Gardens</h3>
            <h4> </h4>
            <div class="dropdownContent">
                <p><a href="https://www.rtbf.be/auvio/detail_christophe-magdalijns-au-sujet-du-quartier-delta-a-auderghem?id=2283696" target="_bank">Lire l'article sur rtbf.be</a></p>
                <p><a href="http://www.vivreici.be/article/detail_christophe-magdalijns-a-auderghem-nous-avons-une-qualite-de-vie-que-nous-voulons-proteger?id=148182" target="_bank">Lire l'article sur vivreici.be</a></p>
                <p><a href="http://www.bruzz.be/nl/actua/magdalijns-gemeente-oudergem-staat-niet-achter-delta-tower" target="_bank">Lire l'article sur bruzz.be</a></p>
                <p><a href="http://www.dhnet.be/regions/bruxelles/auderghem-bientot-un-cinema-a-delta-5a1f2cdfcd70657dbd15035f" target="_bank">Lire l'article sur dhnet.be</a></p>
                <p><a href="https://echo.be/r/t/1/id/9957682?freeAccessToken=svsb26ascqvm0dgq4dp51freqg" target="_bank">Lire l'article sur echo.be</a></p>
                <p><a href="https://bx1.be/news/delta-tower-de-fujimoto-projet-architectural-ambitieux-quartier-delta-a-auderghem/" target="_bank">Lire l'article sur bxl1.be</a></p>    
            </div>
        </div>
        <div class="carouselFrame">
            <app-carousel [slides]="floatingGardens"></app-carousel>    
        </div>
    </div>
    <div class="pubCard col-md-3 ">
        <div class="textFrame dropdown">
            <div class="moreMenu">
                <div class="moreContent"></div>
                <div class="moreContent"></div>
                <div class="moreContent"></div>
            </div>
            <h3>La Libre Essentielle 148</h3>
            <h4>June 2017</h4>
            <div class="dropdownContent">
                <p>"Lorsque l'empreinte de l'architecte s'efface pour laisser la place à la plus simple et juste expression du projet, c'est souvent la qualité du vécu, de l'usage qui gagne en puissance"</p>
            </div>
        </div>
        <div class="carouselFrame">
            <app-carousel [slides]="laLibre"></app-carousel>    
        </div>
    </div>
    <div class="pubCard col-md-3 ">
        <div class="textFrame dropdown">
            <div class="moreMenu">
                <div class="moreContent"></div>
                <div class="moreContent"></div>
                <div class="moreContent"></div>
            </div>
            <h3>Sabato</h3>
            <h4> 16 May 2015</h4>
            <div class="dropdownContent">
                <p>"14.000 oeuvres littéraires et bandes dessinées rassemblées dans une bibliothèque secrète"</p>   
            </div>
        </div>
        <div class="carouselFrame">
            <app-carousel [slides]="sabato"></app-carousel>    
        </div>
    </div>
    <div class="pubCard col-md-3 ">
        <div class="textFrame dropdown">
            <div class="moreMenu">
                <div class="moreContent"></div>
                <div class="moreContent"></div>
                <div class="moreContent"></div>
            </div>
            <h3>The Word</h3>
            <h4>This is Belgium 2014</h4>
            <div class="dropdownContent">
                <p>"Charly Wittock on Brussels landmarks"</p>
            </div>
        </div>
        <div class="carouselFrame">
            <app-carousel [slides]="theWord2014"></app-carousel>    
        </div>
    </div>
    <div class="pubCard col-md-3 ">
        <div class="textFrame dropdown">
            <div class="moreMenu">
                <div class="moreContent"></div>
                <div class="moreContent"></div>
                <div class="moreContent"></div>
            </div>
            <h3>A+ 215</h3>
            <h4> January 2009</h4>
            <div class="dropdownContent">
                <p>"AWAA, le bureau de Charly Wittock, ré-agence l'usine Duvel-Moortgat à Puurs et y introduit une promenade touristique"</p>
            </div>
        </div>
        <div class="carouselFrame">
            <app-carousel [slides]="a215"></app-carousel>    
        </div>
    </div>
    <div class="pubCard col-md-3 ">
        <div class="textFrame dropdown">
            <div class="moreMenu">
                <div class="moreContent"></div>
                <div class="moreContent"></div>
                <div class="moreContent"></div>
            </div>
            <h3>La Libre Essentielle 38 </h3>
            <h4>March 2006</h4>
            <div class="dropdownContent">
                <p>"Notre métier consiste à traduire une idée ou une personnalité en lignes et en volumes"</p>
            </div>
        </div>
        <div class="carouselFrame">
            <app-carousel [slides]="laLibre2006"></app-carousel>    
        </div>
    </div>
    <div class="pubCard col-md-3 ">
        <div class="textFrame dropdown">
            <div class="moreMenu">
                <div class="moreContent"></div>
                <div class="moreContent"></div>
                <div class="moreContent"></div>
            </div>
            <h3>a+u </h3>
            <h4>February 2004</h4>
            <div class="dropdownContent">
                <p>Duvel</p>
            </div>
        </div>
        <div class="carouselFrame">
            <app-carousel [slides]="au"></app-carousel>    
        </div>
    </div>
    <div class="pubCard col-md-3 ">
        <div class="textFrame dropdown">
            <div class="moreMenu">
                <div class="moreContent"></div>
                <div class="moreContent"></div>
                <div class="moreContent"></div>
            </div>
            <h3>Elle Wonen</h3>
            <h4> January 2004</h4>
            <h2></h2>
            <div class="dropdownContent">
                <p>Duvel</p>
            </div>
        </div>
        <div class="carouselFrame">
            <app-carousel [slides]="elleWonen"></app-carousel>    
        </div>
    </div>
    <div class="pubCard col-md-3 ">
        <div class="textFrame dropdown">
            <div class="moreMenu">
                <div class="moreContent"></div>
                <div class="moreContent"></div>
                <div class="moreContent"></div>
            </div>
            <h3>A+</h3>
            <h4>December 2003<</h4>
            <div class="dropdownContent">
                <p>"Duvel-Moortgat Puurs: huisje, tuintje, pintje"</p>   
            </div>
        </div>
        <div class="carouselFrame">
            <app-carousel [slides]="a2003"></app-carousel>    
        </div>
    </div>
    <div class="pubCard col-md-3 ">
        <div class="textFrame dropdown">
            <div class="moreMenu">
                <div class="moreContent"></div>
                <div class="moreContent"></div>
                <div class="moreContent"></div>
            </div>
            <h3>Architectural Record</h3>
            <h4>July 1997</h4>
            <div class="dropdownContent">
                <p>Bibliotheca Wittockiana</p>                
            </div>
        </div>
        <div class="carouselFrame">
            <app-carousel [slides]="architectureRecords"></app-carousel>    
        </div>
    </div>
</div>
